/* CSS Document */
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.hei16B { font-family:"黑体";	font-size: 18px; font-style: normal;	line-height: 20px;	font-variant: normal;color: #000000;}
a.hei16B:link,a.hei16B:visited {font-family:"黑体";	font-size: 18px; font-size: 14px;	line-height: 20px;	font-variant: normal;	color: #E5F5FB;}
a.hei16B:hover,a.hei16B:active {font-family:"黑体";	font-size: 18px;  font-size: 14px;	line-height: 20px;	font-variant: normal;	color: #ffcc66;}



.hei14 {	font-family: "宋体";	font-size: 14px; font-style: normal;	line-height: 28px;	font-variant: normal;color: #000000;}
a.hei14:link,a.hei14:visited {	font-family: "宋体"; font-size: 14px;	line-height: 28px;	font-variant: normal;	color: #0000FF;}
a.hei14:hover,a.hei14:active {	font-family: "宋体"; font-size: 14px;	line-height: 28px;	font-variant: normal;	color: #0000FF;}


.bai14 {	font-family: "宋体";	font-size: 14px; font-style: normal;	line-height: 20px; font-weight:bold;	font-variant : normal;color: #fff;}
a.bai14:link,a.bai14:visited {	font-family: "宋体"; font-size: 14px;	line-height: 20px; font-weight:bold;	font-variant: normal;	color: #E5F5FB;}
a.bai14:hover,a.bai14:active {	font-family: "宋体"; font-size: 14px;	line-height: 20px; font-weight:bold;	font-variant: normal;	color: #ffcc66;}


.stitle {	font-family: "宋体";	font-size: 16px; font-weight:bold;	font-style: normal;	line-height: 20px;	font-variant: normal;color: #ff8800;}
a.stitle:link,a.stitle:visited {	font-family: "宋体"; font-weight:bold;	font-size: 16px;	line-height: 20px;	font-variant: normal;	color: #E5F5FB;}
a.stitle:hover,a.stitle:active {	font-family: "宋体"; font-weight:bold;	font-size: 16px;	line-height: 20px;	font-variant: normal;	color: #ff8800;}


.hei12 {	font-family: "宋体";	font-size: 18px;	font-style: normal;	line-height: 25px;	font-variant: normal;color: #333333; padding-left:10px;}
a.hei12:link,a.hei12:visited {	font-family: "宋体";	font-size: 12px;	line-height: 20px;	font-variant: normal;	color: #006DAC;}
a.hei12:hover,a.hei12:active {	font-family: "宋体";	font-size: 12px;	line-height: 20px;	font-variant: normal;	color: #ffcc66; padding-left:10px;}


.lanlink {	font-family: "宋体";	font-size: 12px;	font-style: normal;	line-height: 20px;	font-variant: normal; color:#0000FF; padding-left:10px;}
a.lanlink:link,a.lanlink:visited {	font-family: "宋体";	font-size: 12px;	line-height: 20px;	font-variant: normal;	color: #006DAC;}
a.lanlink:hover,a.lanlink:active {	font-family: "宋体";	font-size: 12px;	line-height: 20px;	font-variant: normal;	color: #ffcc66; padding-left:10px;}


.red12 {	font-family: "宋体";	font-size: 12px;	font-style: normal;	line-height: 20px;	font-variant: normal;color: #ff0000; padding-left:10px;}
a.red12:link,a.red12:visited {	font-family: "宋体";	font-size: 12px;	line-height: 20px;	font-variant: normal;	color: #006DAC;}
a.red12:hover,a.red12:active {	font-family: "宋体";	font-size: 12px;	line-height: 20px;	font-variant: normal;	color: #ffcc66; padding-left:10px;}



.qianlan12 {	font-family: "宋体";	font-size: 12px;	line-height: 22px;	font-variant: normal;color: #75cdff; padding-left:10px;}
a.qianlan12:link,a.qianlan12:visited {	font-family: "宋体"; 	font-size: 12px;	line-height: 22px;	font-variant: normal;	color: #E5F5FB;}
a.qianlan12:hover,a.qianlan12:active {	font-family: "宋体";	font-size: 12px;	line-height: 22px;	font-variant: normal;	color: #ffda68;}
.selecttxt{ height:30px; border:solid 1px #CCCCCC; color:#999999}



.tag1 td{
	width: 83px;
	text-align:center;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	height:25px;
	padding-top: 4px;
}
.tag1_01{
	color:#FFFFFF;
	background-repeat: no-repeat;
	cursor: hand;
	list-style-type: none;
	width: auto;
	background-color: #99CC66;
	height: auto;
}
.tag1_02{
	color: #fff;
	background-repeat: no-repeat;
	cursor: hand;
	list-style-type: none;
	width: auto;
	background-color: ##CCCCCC;
	height: auto;
}


.menu1 td{
	width: 83px;
	text-align:center;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	height:25px;
	padding-top: 4px;
}
.menu1_01{
	color:#FFFFFF;
	background-repeat: no-repeat;
	cursor: hand;
	list-style-type: none;
	width: auto;
	background-color: #99CC66;
	height: auto;
}
.menu1_02{
	color: #fff;
	background-repeat: no-repeat;
	cursor: hand;
	list-style-type: none;
	width: auto;
	background-color: ##CCCCCC;
	height: auto;
}

